{{>partials/header}}
<section class="banner" style="background-image: url('images/banner.jpg')"></section>

    <div class="content">
        <div class="titulo">
            <h2>Produtos disponíveis para doação</h2>
        </div>
    </div>

    <div class="geral">
        <div class="cards">
            <div class="item">
                <div class="item-superior">
                    <span>Disponivel</span>
                    <span>São Paulo - ZS</span>
                </div>
                <div class="item-image">
                    <img src="images/cadeira.png" alt="">
                </div>
                <div class="item-titulo">
                    <h2 class="h3">Cadeira de Rodas</h2>
                </div>
                <div class="item-data">
                    <span>Data da Publicação: 21/04/2020</span>
                </div>
                <div class="item-usuario">
                    <img src="images/usuario.png" alt="">
                </div>
                <div class="item-nome">
                    <span>Vinicius Castro</span>
                </div>
                <div class="item-descricao">
                    <span>Descrição: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum provident repe Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam</span>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-primary">Saiba Mais</button>
                </div>
            </div>

            <div class="item">
                <div class="item-superior">
                    <span>Disponivel</span>
                    <span>São Paulo - ZS</span>
                </div>
                <div class="item-image">
                    <img src="images/bota_curta.jpg" alt="">
                </div>
                <div class="item-titulo">
                    <h2 class="h3">Bota Curta</h2>
                </div>
                <div class="item-data">
                    <span>Data da Publicação: 03/02/2021</span>
                </div>
                <div class="item-usuario">
                    <img src="images/usuario.png" alt="">
                </div>
                <div class="item-nome">
                    <span>Sophia Moura</span>
                </div>
                <div class="item-descricao">
                    <span>Descrição: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum provident repe Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam</span>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-primary">Saiba Mais</button>
                </div>
            </div>

            <div class="item">
                <div class="item-superior">
                    <span>Disponivel</span>
                    <span>São Paulo - ZS</span>
                </div>
                <div class="item-image">
                    <img src="images/banho.jpg" alt="">
                </div>
                <div class="item-titulo">
                    <h2 class="h3">Cadeira de Banho</h2>
                </div>
                <div class="item-data">
                    <span>Data da Publicação: 12/07/2021</span>
                </div>
                <div class="item-usuario">
                    <img src="images/usuario.png" alt="">
                </div>
                <div class="item-nome">
                    <span>Rayane Silva</span>
                </div>
                <div class="item-descricao">
                    <span>Descrição: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum provident repe Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam</span>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-primary">Saiba Mais</button>
                </div>
            </div>

            <div class="item">
                <div class="item-superior">
                    <span>Disponivel</span>
                    <span>São Paulo - ZS</span>
                </div>
                <div class="item-image">
                    <img src="images/Motorizada.png" alt="">
                </div>
                <div class="item-titulo">
                    <h2 class="h3">Cadeira Motorizada</h2>
                </div>
                <div class="item-data">
                    <span>Data da Publicação: 23/08/2022</span>
                </div>
                <div class="item-usuario">
                    <img src="images/usuario.png" alt="">
                </div>
                <div class="item-nome">
                    <span>Davi Castro</span>
                </div>
                <div class="item-descricao">
                    <span>Descrição: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum provident repe Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam</span>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-primary">Saiba Mais</button>
                </div>
            </div>

            <div class="item">
                <div class="item-superior">
                    <span>Disponivel</span>
                    <span>São Paulo - ZS</span>
                </div>
                <div class="item-image">
                    <img src="images/muleta_axilar.png" alt="">
                </div>
                <div class="item-titulo">
                    <h2 class="h3">Muleta Axilar</h2>
                </div>
                <div class="item-data">
                    <span>Data da Publicação: 17/03/2022</span>
                </div>
                <div class="item-usuario">
                    <img src="images/usuario.png" alt="">
                </div>
                <div class="item-nome">
                    <span>Pedro Silva</span>
                </div>
                <div class="item-descricao">
                    <span>Descrição: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum provident repe Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam</span>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-primary">Saiba Mais</button>
                </div>
            </div>

            <div class="item">
                <div class="item-superior">
                    <span>Disponivel</span>
                    <span>São Paulo - ZS</span>
                </div>
                <div class="item-image">
                    <img src="images/muleta.png" alt="">
                </div>
                <div class="item-titulo">
                    <h2 class="h3">Muleta</h2>
                </div>
                <div class="item-data">
                    <span>Data da Publicação: 17/05/2022</span>
                </div>
                <div class="item-usuario">
                    <img src="images/usuario.png" alt="">
                </div>
                <div class="item-nome">
                    <span>Evelly Dias</span>
                </div>
                <div class="item-descricao">
                    <span>Descrição: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum provident repe Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam</span>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-primary">Saiba Mais</button>
                </div>
            </div>

            <div class="item">
                <div class="item-superior">
                    <span>Disponivel</span>
                    <span>São Paulo - ZS</span>
                </div>
                <div class="item-image">
                    <img src="images/p.png" alt="">
                </div>
                <div class="item-titulo">
                    <h2 class="h3">Bota</h2>
                </div>
                <div class="item-data">
                    <span>Data da Publicação: 18/08/2022</span>
                </div>
                <div class="item-usuario">
                    <img src="images/usuario.png" alt="">
                </div>
                <div class="item-nome">
                    <span>Lívia Costa</span>
                </div>
                <div class="item-descricao">
                    <span>Descrição: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum provident repe Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam</span>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-primary">Saiba Mais</button>
                </div>
            </div>

            <div class="item">
                <div class="item-superior">
                    <span>Disponivel</span>
                    <span>São Paulo - ZS</span>
                </div>
                <div class="item-image">
                    <img src="images/perna.png" alt="">
                </div>
                <div class="item-titulo">
                    <h2 class="h3">Prótese</h2>
                </div>
                <div class="item-data">
                    <span>Data da Publicação: 06/07/2022</span>
                </div>
                <div class="item-usuario">
                    <img src="images/usuario.png" alt="">
                </div>
                <div class="item-nome">
                    <span>Silvio Santos</span>
                </div>
                <div class="item-descricao">
                    <span>Descrição: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum provident repe Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam</span>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-primary">Saiba Mais</button>
                </div>
            </div>

            <div class="item">
                <div class="item-superior">
                    <span>Disponivel</span>
                    <span>São Paulo - ZS</span>
                </div>
                <div class="item-image">
                    <img src="images/tipoia.png" alt="">
                </div>
                <div class="item-titulo">
                    <h2 class="h3">Tipóia</h2>
                </div>
                <div class="item-data">
                    <span>Data da Publicação: 18/09/2021</span>
                </div>
                <div class="item-usuario">
                    <img src="images/usuario.png" alt="">
                </div>
                <div class="item-nome">
                    <span>Marlenne</span>
                </div>
                <div class="item-descricao">
                    <span>Descrição: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum provident repe Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam</span>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-primary">Saiba Mais</button>
                </div>
            </div>

            <div class="item">
                <div class="item-superior">
                    <span>Disponivel</span>
                    <span>São Paulo - ZS</span>
                </div>
                <div class="item-image">
                    <img src="images/ortese.png" alt="">
                </div>
                <div class="item-titulo">
                    <h2 class="h3">Órtese</h2>
                </div>
                <div class="item-data">
                    <span>Data da Publicação: 18/09/2021</span>
                </div>
                <div class="item-usuario">
                    <img src="images/usuario.png" alt="">
                </div>
                <div class="item-nome">
                    <span>Júlia</span>
                </div>
                <div class="item-descricao">
                    <span>Descrição: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum provident repe Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam</span>
                </div>
                <div class="button">
                    <button type="button" class="btn btn-primary">Saiba Mais</button>
                </div>
            </div>
        </div>
    </div>
    
 {{>partials/footer}}