{{>partials/header}}
      <div class="container">
      <div class="container-sm" style="display: flex; flex-direction:row; margin-top: 15px;">
        
        <div class="container">
          <div id="zoomC" alt="..."></div>
        </div>
        <div class="container-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Nome ou modelo do produto</h5>
                  <h6 class="card-subtitle mb-2 text-muted" style="margin-top:20px;">Classificação do Doador?</h6>
                  <p class="card-text">Especificações</p>
                  <p class="card-text">• Espec 1 AAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
                  <p class="card-text">• Espec 2 AAAAAAAAAAAAAAAAA</p>
                  <p class="card-text">• Espec 3 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
                  <p class="card-text">• Espec 4 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
                  <p class="card-text">• Espec 5 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
                  <p class="card-text">• Espec 6 AAAAAAAAAAAAAAAAAAAAAAA</p>
                  <p class="card-text">• Espec 7 AAAAAAAAAAAAAAAAAAAAAAA</p>
                </div>
              </div>
        </div>
        <div class="container-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted">Frete:</h6>
                  <p class="card-text" style="margin-top: 20px;">Descrição do frete: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
                  <h6 class="card-subtitle mb-2 text-muted" style="margin-top: 20px;">Devolução:</h6>
                  <p class="card-text" style="margin-top: 20px;">Descrição da devolução: AAAAAAAAAAAAAAAAAAAAAA</p>
                  <h5 class="card-subtitle mb-2" style="margin-top: 20px;">Doador</h6>
                  <h5 class="card-subtitle mb-2" style="margin-top: 20px;">Disponibilidade</h6>
                  <button type="button" class="btn btn-info" style="margin-top: 20px; border-radius: 50px; width: 245px;">Adicionar a lista de desejos</button>
                  <button type="button" class="btn btn-primary" style="margin-top: 20px; border-radius: 50px; width: 245px;">Entrar na fila</button>
                  <a href="#" style="margin-top: 20px;">Acompanhar a fila</a>
                </div>
              </div>
                <div class="card" style="width: 18rem; margin-top: 20px;">
                    <div class="card-body">
                      <h5 class="card-subtitle mb-2">Informações do doador</h5>
                      <h6 class="card-subtitle mb-2" style="margin-top: 20px;">Localização</h6>
                      <p class="card-text text-muted">AAAAAA, AAAAA</p>
                      <h5 class="card-subtitle mb-2 text-muted">Avaliação</h5>
                    </div>
                  </div>
        </div>
      </div>


      <div class="container-sm" style="display: flex; flex-direction: row; justify-content: center;">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">

              <div class="col" style=" display: flex; flex-direction: row; align-items: center; justify-content: start; padding-left: 90px; padding-right: 90px; max-width: none;">

                <div class="card shadow-sm" id="prod" style="max-width: 300px; justify-content: center; align-items: center; height: 400px; margin: 15px;">
                  <img src="../images/p.png" style="max-width: 200px; margin-top: 5px; margin-bottom: 25px;" alt="...">
                  <div class="card-body" style="height: 78px; display:flex; padding: 0;">
                    <br>
                    <div class="cardbody" style="display: flex; flex-direction: column; padding-right: 10px; margin-top: 20px;">
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="cardbody" style="display: flex; flex-direction: column; padding-left: 10px;">
                        <div>
                            <p>Nome do produto</p>
                        </div>
                        <div>
                            <h6>Vendedor</h6>
                        </div>
                    </div>
                </div>
                  </div>

                <div class="card shadow-sm" id="prod" style="max-width: 300px; justify-content: center; align-items: center; height: 400px; margin: 15px;">
                  <img src="../images/p.png" style="max-width: 200px; margin-top: 5px; margin-bottom: 25px;" alt="...">
                  <div class="card-body" style="height: 78px; display:flex; padding: 0;">
                    <br>
                    <div class="cardbody" style="display: flex; flex-direction: column; padding-right: 10px; margin-top: 20px;">
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="cardbody" style="display: flex; flex-direction: column; padding-left: 10px;">
                        <div>
                            <p>Nome do produto</p>
                        </div>
                        <div>
                            <h6>Vendedor</h6>
                        </div>
                    </div>
                </div>
                  </div>

                  <div class="card shadow-sm" id="prod" style="max-width: 300px; justify-content: center; align-items: center; height: 400px; margin: 15px;">
                    <img src="../images/p.png" style="max-width: 200px; margin-top: 5px; margin-bottom: 25px;" alt="...">
                    <div class="card-body" style="height: 78px; display:flex; padding: 0;">
                      <br>
                      <div class="cardbody" style="display: flex; flex-direction: column; padding-right: 10px; margin-top: 20px;">
                          <div>
                          </div>
                          <div>
                          </div>
                      </div>
                      <div class="cardbody" style="display: flex; flex-direction: column; padding-left: 10px;">
                          <div>
                              <p>Nome do produto</p>
                          </div>
                          <div>
                              <h6>Vendedor</h6>
                          </div>
                      </div>
                  </div>
                    </div>

                    <div class="card shadow-sm" id="prod" style="max-width: 300px; justify-content: center; align-items: center; height: 400px; margin: 15px;">
                      <img src="../images/p.png" style="max-width: 200px; margin-top: 5px; margin-bottom: 25px;" alt="...">
                      <div class="card-body" style="height: 78px; display:flex; padding: 0;">
                        <br>
                        <div class="cardbody" style="display: flex; flex-direction: column; padding-right: 10px; margin-top: 20px;">
                            <div>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="cardbody" style="display: flex; flex-direction: column; padding-left: 10px;">
                            <div>
                                <p>Nome do produto</p>
                            </div>
                            <div>
                                <h6>Vendedor</h6>
                            </div>
                        </div>
                    </div>
                      </div>
              </div>


            </div>
            <div class="carousel-item">

              <div class="col" style=" display: flex; flex-direction: row; align-items: center; justify-content: start; padding-left: 90px; padding-right: 90px; max-width: none;">

                <div class="card shadow-sm" id="prod" style="max-width: 300px; justify-content: center; align-items: center; height: 400px; margin: 15px;">
                  <img src="../images/p.png" style="max-width: 200px; margin-top: 5px; margin-bottom: 25px;" alt="...">
                  <div class="card-body" style="height: 78px; display:flex; padding: 0;">
                    <br>
                    <div class="cardbody" style="display: flex; flex-direction: column; padding-right: 10px; margin-top: 20px;">
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="cardbody" style="display: flex; flex-direction: column; padding-left: 10px;">
                        <div>
                            <p>Nome do produto</p>
                        </div>
                        <div>
                            <h6>Vendedor</h6>
                        </div>
                    </div>
                </div>
                  </div>

                <div class="card shadow-sm" id="prod" style="max-width: 300px; justify-content: center; align-items: center; height: 400px; margin: 15px;">
                  <img src="../images/p.png" style="max-width: 200px; margin-top: 5px; margin-bottom: 25px;" alt="...">
                  <div class="card-body" style="height: 78px; display:flex; padding: 0;">
                    <br>
                    <div class="cardbody" style="display: flex; flex-direction: column; padding-right: 10px; margin-top: 20px;">
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="cardbody" style="display: flex; flex-direction: column; padding-left: 10px;">
                        <div>
                            <p>Nome do produto</p>
                        </div>
                        <div>
                            <h6>Vendedor</h6>
                        </div>
                    </div>
                </div>
                  </div>

                  <div class="card shadow-sm" id="prod" style="max-width: 300px; justify-content: center; align-items: center; height: 400px; margin: 15px;">
                    <img src="../images/p.png" style="max-width: 200px; margin-top: 5px; margin-bottom: 25px;" alt="...">
                    <div class="card-body" style="height: 78px; display:flex; padding: 0;">
                      <br>
                      <div class="cardbody" style="display: flex; flex-direction: column; padding-right: 10px; margin-top: 20px;">
                          <div>
                          </div>
                          <div>
                          </div>
                      </div>
                      <div class="cardbody" style="display: flex; flex-direction: column; padding-left: 10px;">
                          <div>
                              <p>Nome do produto</p>
                          </div>
                          <div>
                              <h6>Vendedor</h6>
                          </div>
                      </div>
                  </div>
                    </div>

                    <div class="card shadow-sm" id="prod" style="max-width: 300px; justify-content: center; align-items: center; height: 400px; margin: 15px;">
                      <img src="../images/p.png" style="max-width: 200px; margin-top: 5px; margin-bottom: 25px;" alt="...">
                      <div class="card-body" style="height: 78px; display:flex; padding: 0;">
                        <br>
                        <div class="cardbody" style="display: flex; flex-direction: column; padding-right: 10px; margin-top: 20px;">
                            <div>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="cardbody" style="display: flex; flex-direction: column; padding-left: 10px;">
                            <div>
                                <p>Nome do produto</p>
                            </div>
                            <div>
                                <h6>Vendedor</h6>
                            </div>
                        </div>
                    </div>
                      </div>
              </div>


            </div>
            <div class="carousel-item">

              <div class="col" style=" display: flex; flex-direction: row; align-items: center; justify-content: start; padding-left: 90px; padding-right: 90px; max-width: none;">

                <div class="card shadow-sm" id="prod" style="max-width: 300px; justify-content: center; align-items: center; height: 400px; margin: 15px;">
                  <img src="../images/p.png" style="max-width: 200px; margin-top: 5px; margin-bottom: 25px;" alt="...">
                  <div class="card-body" style="height: 78px; display:flex; padding: 0;">
                    <br>
                    <div class="cardbody" style="display: flex; flex-direction: column; padding-right: 10px; margin-top: 20px;">
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="cardbody" style="display: flex; flex-direction: column; padding-left: 10px;">
                        <div>
                            <p>Nome do produto</p>
                        </div>
                        <div>
                            <h6>Vendedor</h6>
                        </div>
                    </div>
                </div>
                  </div>

                <div class="card shadow-sm" id="prod" style="max-width: 300px; justify-content: center; align-items: center; height: 400px; margin: 15px;">
                  <img src="../images/p.png" style="max-width: 200px; margin-top: 5px; margin-bottom: 25px;" alt="...">
                  <div class="card-body" style="height: 78px; display:flex; padding: 0;">
                    <br>
                    <div class="cardbody" style="display: flex; flex-direction: column; padding-right: 10px; margin-top: 20px;">
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="cardbody" style="display: flex; flex-direction: column; padding-left: 10px;">
                        <div>
                            <p>Nome do produto</p>
                        </div>
                        <div>
                            <h6>Vendedor</h6>
                        </div>
                    </div>
                </div>
                  </div>

                  <div class="card shadow-sm" id="prod" style="max-width: 300px; justify-content: center; align-items: center; height: 400px; margin: 15px;">
                    <img src="../images/p.png" style="max-width: 200px; margin-top: 5px; margin-bottom: 25px;" alt="...">
                    <div class="card-body" style="height: 78px; display:flex; padding: 0;">
                      <br>
                      <div class="cardbody" style="display: flex; flex-direction: column; padding-right: 10px; margin-top: 20px;">
                          <div>
                          </div>
                          <div>
                          </div>
                      </div>
                      <div class="cardbody" style="display: flex; flex-direction: column; padding-left: 10px;">
                          <div>
                              <p>Nome do produto</p>
                          </div>
                          <div>
                              <h6>Vendedor</h6>
                          </div>
                      </div>
                  </div>
                    </div>

                    <div class="card shadow-sm" id="prod" style="max-width: 300px; justify-content: center; align-items: center; height: 400px; margin: 15px;">
                      <img src="../images/p.png" style="max-width: 200px; margin-top: 5px; margin-bottom: 25px;" alt="...">
                      <div class="card-body" style="height: 78px; display:flex; padding: 0;">
                        <br>
                        <div class="cardbody" style="display: flex; flex-direction: column; padding-right: 10px; margin-top: 20px;">
                            <div>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="cardbody" style="display: flex; flex-direction: column; padding-left: 10px;">
                            <div>
                                <p>Nome do produto</p>
                            </div>
                            <div>
                                <h6>Vendedor</h6>
                            </div>
                        </div>
                    </div>
                      </div>
              </div>


            </div>
          </div>

          <button class="carousel-control-prev" id="seta-esq" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
            <span class="fa fa-arrow-left" aria-hidden="false" style="color: rgb(73, 73, 73);"></span>
          </button>
          <button class="carousel-control-next" id="seta-dir" type="button" data-target="#carouselExampleIndicators" data-slide="next">
            <span class="fa fa-arrow-right" aria-hidden="false" style="color: rgb(73, 73, 73)"></span>

          </button>

        </div>



      </div>

      <div class="container">

        <div class="card" style="width: 800px;">
          <div class="card-body">
            <h5 class="card-title">Caracteristicas</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at reprehenderit cum nam illo error natus ullam neque quia nulla, eius, nobis placeat est tempore nostrum voluptates sapiente? Mollitia, dolore! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste repudiandae eos molestiae reiciendis eaque magni sequi saepe fugit sit ex iusto accusamus, nulla consequuntur repellat. Aut sed minima repudiandae minus!</p>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at reprehenderit cum nam illo error natus ullam neque quia nulla, eius, nobis placeat est tempore nostrum voluptates sapiente? Mollitia, dolore! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste repudiandae eos molestiae reiciendis eaque magni sequi saepe fugit sit ex iusto accusamus, nulla consequuntur repellat. Aut sed minima repudiandae minus!</p>

          </div>
        </div>



      </div>

    </div>

{{>partials/footer}}